.section__carrousel {
    background-color: var(--color-primary);
    color: var(--color-black);
    h2 {
        color: var(--color-black);
    }
    p {
        color: var(--color-black);
        span {
            color: var(--color-black);
        }
    }
    span {
        color: var(--color-black);
    }
}

.swiper-pagination {
    position: static;
    margin-top: var(--spacing-lg);
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 20px;
    --swiper-pagination-color: var(--color-white);
    --swiper-pagination-bullet-inactive-color: rgba(0, 0, 0, 0.3);
    --swiper-pagination-bullet-border-radius: 0;
    --swiper-pagination-bullet-horizontal-gap: 20px;
}
.swiper-pagination-bullet {
    transform: rotate(45deg);
}
