.header {
    padding: 25px 0;
    text-align: center;
    background: rgba($color: #000000, $alpha: 0.7);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    a {
        color: var(--color-white);
    }
}
