//FONTS
// ici sont chargés les fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// TOOLS
// mixins et fonctions utilisés globalement dans le SCSS (Sass)
@import 'tools/typo';

// SETTINGS
// Contient les variables sur les polices, les définitions de couleurs, les définitions de  grandeurs,   etc.
@import 'settings/colors';
@import 'settings/fonts';
@import 'settings/dimensions';

// GENERIC
// Permet de réinitialiser les CSS et de changer le modèle de boîte en box-sizing: border-box
@import 'generic/normalize';
@import 'generic/reset';

// ELEMENTS
// Modification des styles généraux de la page. Ce sont les styles qui seront généralement hérités par les éléments de la page.
@import 'elements/body';
@import 'elements/typography';
@import 'elements/links';
@import 'elements/wrapper';

// COMPONENTS
// Composants d'interface utilisateur spécifiques.
// C’est là que la majorité de notre travail a lieu.
@import '../../node_modules/swiper/swiper-bundle';
@import 'components/icons';
@import 'components/header.scss';
@import 'components/hero.scss';
@import 'components/section.scss';
@import 'components/card.scss';
@import 'components/button.scss';
@import 'components/carrousel.scss';
@import 'components/footer.scss';
