/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Work Sans', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    --font-size-content: #{typo(16px, 18px)};
    --font-size-content-card: #{typo(24px, 32px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 57px)};
    --font-size-h2: #{typo(30px, 40px)};
    --font-size-h3: 16px;
    --font-size-h4: #{typo(20px, 30px)};
}
