{% include "_partials/_header.html" %} {% include "_partials/_hero.html" %}
<!-- Votre contenu ici -->

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>

        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Sem01.png" alt="Un beau labo" />
                </div>
                <div class="card__content">
                    <h3>sem 01 - Révision</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <span>Ea fuga temporibus sint, molestiae consequatur commodi.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="#" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Sem02.png" alt="Un beau labo" />
                </div>
                <div class="card__content">
                    <h3>sem 02 - TimTools</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <span>Ea fuga temporibus sint, molestiae consequatur commodi.</span>
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="#" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Sem03.png" alt="Un beau labo" />
                </div>
                <div class="card__content">
                    <h3>sem 03 - Portfolio Louis Lajoie</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <span>Ea fuga temporibus sint, molestiae consequatur commodi.</span>
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="#" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Sem04.png" alt="Un beau labo" />
                </div>
                <div class="card__content">
                    <h3>sem 04 - Icones et classes JS</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        <span>Ea fuga temporibus sint, molestiae consequatur commodi.</span>
                    </p>
                    <p class="tag">SCSS + Javascript</p>
                    <a href="#" class="button">
                        Voir le laboratoire
                        <svg class="icon icon--md">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section__carrousel">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>
        <div class="swiper js-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/sem07.png" alt="Un beau labo" />
                        </div>
                        <div class="card__content">
                            <h3>sem 07 - Site réactif</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span>Ea fuga temporibus sint, molestiae consequatur commodi.</span>
                            </p>
                            <p class="tag">HTML + CSS</p>
                            <a href="#" class="button">
                                Voir le laboratoire
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/Sem08.png" alt="Un beau labo" />
                        </div>
                        <div class="card__content">
                            <h3>sem 08 - CryptoQC</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span>Ea fuga temporibus sint, molestiae consequatur commodi.</span>
                            </p>
                            <p class="tag">HTML + CSS</p>
                            <a href="#" class="button">
                                Voir le laboratoire
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card">
                        <div class="card__media">
                            <img src="assets/images/Sem09.png" alt="Un beau labo" />
                        </div>
                        <div class="card__content">
                            <h3>sem 09 - Introduction SwiperJS</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                <span>Ea fuga temporibus sint, molestiae consequatur commodi.</span>
                            </p>
                            <p class="tag">HTML + CSS</p>
                            <a href="#" class="button">
                                Voir le laboratoire
                                <svg class="icon icon--md">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
